* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.page {
  max-width: 40rem;
  margin: auto;
  padding: 2rem;
  background-color: rgb(177, 151, 142);
}

header h1 {
  text-align: center;
}

header p {
  border-bottom: 1px solid #f1f1f9;
  padding-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.input-wrapper input,
.input-wrapper select {
  background: #f1f1f9;
  padding: 0 1rem;
  border: 1px solid black;
  height: 2.5rem;
  width: 100%;
}

.input-wrapper textarea {
  width: 100%;
  background: #f1f1f9;
  padding: 1rem;
  border: 1px solid black;
}

footer input {
  background-color: red;
  height: 3rem;
  width: 100%;
  margin: 1rem auto;
  border: 1px solid black;
  cursor: pointer;
}

footer input:hover {
  background-color: rgb(172, 15, 15);
}
